{% extends 'base.html.twig' %}

{% block title %}Hello TripRegistrationController!{% endblock %}

{% block body %}
<div class="container">
    <h2>Zapisz swoje dziecko</h2>
    <div>
        <div class="row">
            <p><b>Nazwa wydarzenia: </b> {{ event.title}}</p>
        </div>
    </div>

    <div>
        {{ form_start(form) }}
        {{ form_row(form.participant_name) }}
        {{ form_row(form.participant_surname)}}
        {{ form_row(form.birth_date)}}
        {{ form_row(form.parent_phone)}}
        {{ form_row(form.acceptance_of_statement)}}

        <button type="submit" class="btn btn-primary mt-3">Zapisz na wyjazd</button>
        {{ form_end(form) }}

    </div>
</div>
{% endblock %}