{% extends 'base.html.twig' %}

{% block title %}{{ event.title }} | CampMaker.pl{% endblock %}

{% block body %}
<div class="container">
    <h2>{{ event.title }}</h2>
    <hr>
    <div class="d-flex">
        <p style="font-size: 0.8rem;"><strong>Data: </strong>{{ event.termFrom }} - {{ event.termTo}} &nbsp;</p>
        <p style="font-size: 0.8rem;"><strong>Miejsce: </strong>{{ event.locality}} &nbsp;</p>
        <p style="font-size: 0.8rem;"><strong>Cena: </strong>{{ event.price }}zł &nbsp;</p>
        <p style="font-size: 0.8rem;"><strong>Organizator: </strong>{{ event.organizerName }}</p>
    </div>
    <p>{{ event.description }}</p>
    <br>
    <a href="{{ path('trip_registration') }}">
        <button class="btn btn-primary">Zapisz się</button>
    </a>
</div>
{% endblock %}