{% extends 'base.html.twig' %}

{% block title %}Wydarzenia | CampMaker.pl{% endblock %}

{% block body %}
<div class="container">
    <h2>Wydarzenia</h2>
    <hr>
    {% for event in events %}
    <a href="{{ path('event_preview',  {'id': event.id}) }}" class="text-decoration-none text-black">
        <h3>{{ event.title }}</h3>
        <div class="d-flex">
            <p style="font-size: 0.8rem;"><strong>Data: </strong>{{ event.termFrom }} - {{ event.termTo}} &nbsp</p>
            <p style="font-size: 0.8rem;"><strong>Miejsce: </strong>{{ event.locality}} &nbsp</p>
            <p style="font-size: 0.8rem;"><strong>Cena: </strong>{{ event.price }}zł</p>
        </div>
        <p>{{ event.description }}</p>
    </a>
    {% endfor %}
</div>
{% endblock %}